.tracklist {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px auto;
    max-width: 1200px;
    width: 100%;
    gap: 10px;
}