:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-image: url('assets/bg.png');
  background-color: blueviolet;
  background-repeat: repeat-y;
  background-size: cover;
  color: #fff;
}